<head>
    <title>Earthquake Tracker</title>
    <meta charset="utf-8">
</head>

<html>
    <body>
        <div id="header">
            <h1>earthquake tracker</h1>
        </div>
        {{{body}}}
    </body>
</html>

<link rel="stylesheet" type="text/css" href="/css/main.css">