<button id="clickhere">Click Here</button>
<div id="map-container">
    <div id="map"></div>
</div>

<script type="text/javascript" src='/js/DataRequestManager.js'></script>
<script type="text/javascript" src='/js/PageBuilder.js'></script>
<script type="text/javascript" src='/js/MapManager.js'></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOORh5uUlLn1JkBy8JjKxA2GrA5SbgAWo&callback=initMap"></script>
<link rel="stylesheet" type="text/css" href="/css/index.css">
