<div id="container">
    <div id="input-container">
        <div id="left-grid">
            <div class="label">
                <label>Location</label>
            </div>
            <div>
                <input id="location" type="text" placeholder="San Francisco">
            </div>
            
            <div class="label">
                <label>Start Date (UTC)</label>
            </div>
            <div>
                <input type="date" id="start-date">
            </div>

            <div class="label">
                <label>End Date (UTC)</label>
            </div>
            <div>
                <input type="date" id="end-date">
            </div>
        </div>

        <div id="right-grid">
            <div class="label">
                <label>Search Radius (km)</label>
            </div>
            <div>
                <input type="number" value="100">
            </div>

            <div class="label">
                <label>Magnitude Range</label>
            </div>
            <div>
                <input type="number" value="0"><p id="mag-range"> to </p><input type="number" value="10">
            </div>
        </div>
    </div>

    <div>
        <button id="search-button">Search</button>
    </div>

    <div id="map-container">
        <div id="map"></div>
    </div>
</div>

<script type="text/javascript" src='/js/DataRequestManager.js'></script>
<script type="text/javascript" src='/js/PageManager.js'></script>
<script type="text/javascript" src='/js/MapManager.js'></script>
{{!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOORh5uUlLn1JkBy8JjKxA2GrA5SbgAWo&callback=initMap"></script> --}}
<link rel="stylesheet" type="text/css" href="/css/index.css">
