#container {
    padding: 2% 5% 2% 5%;
    margin: auto;
    display: flex;
}

#input-container {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
    float: left;
}

#map-container {
    margin-left: 20px;
    border: 1px solid black;
    flex: 1;
}

div.label { 
    text-align: right; 
}

div.label:after { 
    content: ":"; 
}

#map {
    height: 100%;
    width: 100%;
}

#mag-range {
    display: inline;
}

.error-message {
    color: red;
    margin: 0;
}

#request-message {
    display: inline-block;
}

.request-error {
    color: red;
}