/* containers */
#container {
    padding: 2% 5% 2% 5%;
    margin: auto;
    display: flex;
}

#input-container {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
    float: left;
}

#map-container {
    margin-left: 20px;
    border: 1px solid black;
    flex: 1;
}

/* buttons */
button {
    color: #ffffff;
    background-color: #205493;
    border: none;
    border-radius: 4px;
    padding: 5px;
}

button:hover {
    background-color: #112e51;
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

/* form inputs */
div.label { 
    text-align: right; 
}

div.label:after { 
    content: ":"; 
}

#mag-range {
    display: inline;
}

.error-message {
    color: red;
    margin: 0;
}

/* request message */
#request-message {
    display: inline-block;
}

.request-error {
    color: red;
}