#container {
    width: 80%;
    margin: auto;
}

#input-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#left-grid, #right-grid {
    flex: 1;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
}

div.label { 
    text-align: right; 
}

div.label:after { 
    content: ":"; 
}

#map-container {
    height: 400px;
    border: 1px solid black;
}

#map {
    height: 100%;
    width: 100%;
}

#mag-range {
    display: inline;
}

.error-message {
    color: red;
    margin: 0;
}

.hide-message {
    visibility: hidden;
}

#request-message {
    display: inline;
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
  
@-moz-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
  
@-webkit-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
  
@-o-keyframes fadeIn {
    0% {  opacity:0; }
    100% {  opacity:1; }
}
  
@-ms-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
