body {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    align-items: center;
    height: 75px;
    color: #ffffff;
    background-color: #205493;
    /* background-color: #112e51; */
    padding-left: 5%;
}